*{
    margin: 0;
    padding: 0;
}

.borda{
    border: 1px solid red;
}

.borda1{
    border: 1px solid blue;
}

header, footer{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.desconto, .titulo, .oficial, .direitos{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.desconto, .direitos{
    background: #181818;
    color: #fff;
}

.titulo{
    background: #fff;
    color: #181818;
}

.banner{
    width: 100%;
    height: 340px;
    background: linear-gradient(90deg, #3b3b3b8c 0%, #3b3b3b8c 100%), url('img/Rectangle21.svg');
    background-repeat: no-repeat;
    background-size: 400% 200%;
    animation: banner 10s ease-in-out infinite;
}


/* main */
main{
    max-width: 90vw;
    margin: auto;
}

main .texto{
    text-align: center;
    margin: 2% 0;
}

.texto h1{
    padding: 2% 0;
}

.conteudo{
    width: 100%;
    display: flex;
}

.linha{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tenis{
    box-sizing: content-box;
    width: calc(50vw - 2%);
    height: 30vh;
    background: #EBE9EA;
    margin: 2%;
    display: flex;   
}

.centralizar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centralizar:hover{
    background: linear-gradient(-45deg, #7a7979,#EBE9EA);
    background-size: 400% 400%;
    animation: back 3s ease infinite;
}

.centralizar:hover img{
    width: 60%; 
    transform: scale(1.2)!important;
}

.oficial{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    text-align: center;
}

.oficial a{
    position: relative;
    text-decoration: none;
    color: #475E41;
}

a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #475E41;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

a:hover:before {
visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}


@media (max-width:1000px){
    .linha{
        flex-direction: column;
        align-items: center;
    }
    
    .tenis{
        width: calc(80vw - 2%);
        height: 30vh;
    }
}

@media (max-width:700px){
    html{

    }
    
    .banner{
        background-size: 500% 150%;
    }

    .centralizar:hover{
        transform: scale(1);
    }
}

@keyframes banner{
    0%{
        background-position: 50% 20%;
    }
    50%{
        background-position: 50% 100%;
    }
    100%{
        background-position: 50% 20%;
    }
}


@keyframes back{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}